.App {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.blue-div, .green-div, .gray-div {
  height: 100vh;
  scroll-snap-align: center;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  border: 1px solid gray;
}

.blue-div {
  background-color: rgb(0, 104, 255);
}

.green-div {
  background-color: rgb(20, 117, 20);
}

.gray-div {
  background-color: gray;
}